<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Ink app</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/base.css">

  <!-- Components -->
  <link rel="stylesheet" href="/css/components/display.css">
  <link rel="stylesheet" href="/css/components/card.css">
  <link rel="stylesheet" href="/css/components/preview.css">
  <link rel="stylesheet" href="/css/components/badge.css">
</head>
<body>
    <div class="container">
      <div class="card">
        <%- include('../components/Display') %>

        <hr>

        <%- include('../components/EventsPreview') %>
        <%- include('../components/WeatherPreview') %>
        <%- include('../components/ScreenshotPreview') %>
      </div>
    </div>
</body>
</html>
