.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 250 / 122;
  outline: 1px solid hsl(0, 0%, 75%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 .15rem .15rem hsl(0deg 0% 0% / 10%);
  padding: .5rem;
  font-size: 3.5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) max-content;
  grid-template-areas:
    "events events"
    "events events"
    "weather timestamp";

  .display-title {
    grid-area: title;
  }

  .display-events {
    grid-area: events;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    .display-events__item {
      display: flex;
      flex-direction: column;
    }

    .display-events__item:not(:last-child) {
      border-bottom: 1px solid hsl(0, 0%, 0%);
      margin-bottom: .25rem;
      padding-bottom: .25rem;
    }

    time {
      font-size: 2rem;
      font-weight: 600;

    }
  }

  .display-timestamp {
    grid-area: timestamp;
    place-self: end;
    font-size: 2rem;
  }

  .display-weather {
    grid-area: weather;
    font-weight: 600;
  }
}
