<div class="preview">
  <h2 class="preview__title">
    <%- include('../components/StatusBadge', { active: calendar.success }) %>
    Google Calendar Status
  </h2>

  <div class="preview__toggle">
    <input type="checkbox" id="events-toggle" />
    <label for="events-toggle">Show raw data</label>
  </div>

  <code class="preview__content">
    <pre><%= JSON.stringify(calendar, null, 2) %></pre>
  </code>
</div>
